@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&family=Secular+One&display=swap');



*{
    font-family:'Roboto Mono', monospace;
    margin:0;
}
.titulo{
    font-family: 'Secular One';
    text-align: center;
    font-size:48px;
    margin-top: 75px;
    color: azure;
    text-transform:uppercase ;
}
.subtitulo{
    font-size: 40px;
    color:rgb(207, 207, 207);
    text-align: center;

}
nav{
    color:azure;
    display: flex;
    justify-content:space-around;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
    padding:10px;
}
a{    
    text-decoration: none;
    color:inherit;
    border:3px solid rgb(44, 44, 44);
    background-color: rgb(145, 145, 145);
    border-radius: 30px;
    padding: 5px;

}
 nav a:hover{
    background-color:rgb(44, 44, 44);

 }
.Nome{
    color: rgb(0, 0, 0);
    font-size: 28px;

}
.linha-horizontal{
    
    width: 100%;
    border: 1px solid rgb(179, 179, 179)
}
body{
    background-color: rgb(44, 44, 44);
    color:rgb(145, 145, 145);
    font-size:20px;
    overflow-x: hidden;
}
.imagens{
    display: flex;
    justify-content: space-around;
    background-color:rgb(145, 145, 145);
    background-image: radial-gradient(white,rgb(145,145,145),black);
    border-radius: 30px;
    width: 80%;
    height:400px;
    margin:auto;
    align-items: center;
    border: 3px solid rgb(161, 161, 161);
}
.img3{
    display: inline-block;
    background-image: url("/img/saitama.png");
    background-color: black;
    background-size:cover;
    height: 300px;
    width: 300px;
    background-position: center;
    border-radius: 5%;
}
.img4{
    display: inline-block;
    background-image: url("/img/download.png");
    background-color: black;
    background-size:cover;
    height: 300px;
    width: 300px;
    background-position: center;
    border-radius: 5%;
}
.img1{
    background-image: url("/img/midoria.png");
    background-color: black;
    background-size:cover;
    height: 300px;
    width: 300px;
    background-position: center;
    border-radius: 5%;
}

.img2{
    background-image: url("/img/estudando.jpg");
    background-color: black;
    background-size:cover;
    height: 300px;
    width: 300px;
    background-position: center;
    border-radius: 5%;
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover{
    height: 320px;
    width:320px;
}

.content
{
font-size: 24px;
}
li{
    padding-bottom: 10px;
    margin-left: 10px;
}
.icones{
    padding: 0;
    background-color: aliceblue;
    border: 0;
    border-radius: 0;
}
.icones:hover{
    background-color: aliceblue;
}